Twisted==11.1.0
Twisted-Conch==11.1.0
Twisted-Core==11.1.0
Twisted-Lore==11.1.0
Twisted-Mail==11.1.0
Twisted-Names==11.1.0
Twisted-News==11.1.0
Twisted-Runner==11.1.0
Twisted-Web==11.1.0
Twisted-Words==11.1.0
configglue==1.0
configobj==4.7.2
